#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=${project.name}
Name=Weka (stable)
Exec=/usr/bin/${project.name}-gui
